@import "fonts.scss";

//FUENTES
$light:  'StagSans-Light';
$regular:  'StagSans-Book';
$bold:  'StagSans-Semibold';
$medium: 'StagSans-Medium';

$base: #666;
$white: #fff;
$red: #e90010;
$blue:  #0192D5;
$body: #fafafa;
$borders: #ddd;
$black: #333;
$blackgrey: #999;
$green: #390;
$grey: #e9e9e9;
